body{
  background-image: url(#{$imagesDirectory}});
  background-size: cover;
  background-repeat: no-repeat;
}
.report body{
  background:none;
}

h1,h2,h3{
  text-shadow: 1px 1px 1px #00abfd;
}

#data-show{


}

h1#title span{
      color: #0075b3;
}

div#search-wrapper{
  h1{margin-bottom: 1%;}
}

div#advanced-search{
  margin-top: 1%;
  border: 2px solid $blue;
  padding: 1%;
  border-radius: 5px;
}

div#search{
  margin-top: 2%;
}

.content{
  background-color: $white;
  border-radius: 6px;
  padding: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.form-horizontal{

  input[type=text]{
    height: 35px;
  }
}